@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.root {
    -fx-font-family: "Pacifico", sans-serif;
    -fx-font-size: 16px;
    -fx-background-color: beige;
}

.red-hbox {
    -fx-background-color: crimson;
}

#mainHeader {
    -fx-font-size: 3em;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}

#mainHeader Label {
    -fx-text-fill: white;
    -fx-alignment: center;
}
/*
can set button and label to white
#dropDownLabel{
    -fx-text-fill: black;
    -fx-background-color: white;
    }

#dropDown{
    -fx-text="click";
    -fx-text-fill: black;
    -fx-background-color: white;

    }
*/
#footer {
    -fx-border-color: black;
    -fx-border-width: 1px 0 0 0;
    -fx-padding: 10 0 10 0;
}
